<?xml version="1.0" encoding="UTF-8"?>
<Configuration monitorInterval="60">
	<Properties>
		<Property name="path">logs</Property>
	</Properties>
	<Appenders>
		<Console name="Console-Appender" target="SYSTEM_OUT">
			<PatternLayout>
				<pattern>
					[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{1} - %msg%n
				</pattern>
				>
			</PatternLayout>
		</Console>
		<File name="Service-Appender" fileName="${path}/demoService_log.log">
			<PatternLayout>
				<pattern>
					[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{1} - %msg%n
				</pattern>
			</PatternLayout>
		</File>
		<GELF name="gelfAppender" server="Graylog_ServerIP" port="12201" hostName="Graylog_ServerIP/HOSTNAME">
            <PatternLayout pattern="%logger{36} - %msg%n"/>
            <!-- Additional fields -->
            <KeyValuePair key="environment" value="DEV"/>
            <KeyValuePair key="application" value="DemoAPP_Log4J2"/>                
        </GELF>
	</Appenders>
	<Loggers>
		<Logger name="com.example.demo.controller" level="all"
			additivity="false">
			<AppenderRef ref="Service-Appender" />
			<AppenderRef ref="gelfAppender" />
		</Logger>
		<Root>
			<AppenderRef ref="Console-Appender" />
		</Root>
	</Loggers>
</Configuration>